@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.rc-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rc-pagination li {
  cursor: pointer;
  border: 1px solid magenta;
  padding: 1rem;
}
.rc-pagination-options {
  display: none;
}
.rc-pagination-item-active {
  background-color: mediumpurple;
}
.rc-pagination-disabled {
  cursor: no-drop !important;
  opacity: 0.5;
}
